*{
    margin:0px;
}
body{ background-image: 
    Linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),

Linear-gradient(127deg, black, black 70.71%),

Linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);

}
.h { display:inline;}
.class1{
    margin-right: 60%;
 
}
.class2{
    margin-right: 60%;
}
.class3{
    margin-right: 60%;
}
h1{
    color:white;
    font-size: 60 px;
}
.h3{
    width: 100% ;
}
.k a {
    padding-right: 10%; 
    color : white;
    font-size: 60px;
    text-decoration: none;
   

}
.nav-position{
    margin-left:200px;
}
.k:hover {
    color : red ;

} 
.m{
    display: inline-block;
    
}
